<!-- shop.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="https://media.discordapp.net/attachments/1047882926592905286/1107842260390907994/Ord_Bank.jpg?width=128&height=128">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>ORD - Shop</title>
</head>

<body>

  <header class="navbar">
        <div class="txtLogo">
            <i class="fa-solid fa-house"></i>
            <h3>ORD</h3>
        </div>

        <div class="toggle">
            <i class="fa-solid fa-bars open"></i>
            <i class="fa-solid fa-xmark close"></i>
        </div>

        <img src="https://media.discordapp.net/attachments/1047882926592905286/1107842260390907994/Ord_Bank.jpg?width=128&height=128" alt="" class="imgLogo">

        <div class="Profile">
                    <img src="	https://cdn.discordapp.com/avatars/<%= 
user.id %>/<%= user.avatar %>.png" alt="" class="userPhoto" style='    width: 44px;
    height: 44px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;'>
                </div>
    </header>

  <div class="navigation">
        <ul>
            <li class="list">
                <a href="/dashboard">
                    <span class="icon"><i class="fa-solid fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list active">
                <a href="/shop">
                    <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                    <span class="title">Shop</span>
                </a>
            </li>
        </ul>
    </div>

  
  <!-- <h1>Shop</h1>

  <% if (Array.isArray(products)) { %>
    <% products.forEach(function(product) { %>
      <div class="product">
        <h2>Name: <%= product.name %></h2>
        <p>Price: <%= product.price %></p>
      </div>
    <% }); %>
  <% } else { %>
    <% Object.keys(products).forEach(function(key) { %>
      <% var product = products[key]; %>
      <div class="product">
        <h2>Name: <%= product.name %></h2>
        <p>Price: <%= product.price %></p>
      </div>
    <% }); %>
  <% } %> -->


 <div class="shopSection">
  <% if (Array.isArray(products)) { %>
    <% products.forEach(function(product) { %>
      <div class="productContainer">
        <div class="productCard">
          <div class="productImg">
            <img src="<%= product.imgUrl %>" />
          </div>
          <div class="productDetails">
            <div class="productName">
              <h2><%= product.name %></h2>
            </div>
            <div class="productDetailsPS">
              <h3>Price: <%= product.price %></h3>
              <h3>Stock: <%= product.accounts.length %></h3>
            </div>
          </div>
          <form action="/purchase" method="POST">
            <input type="hidden" name="product" value="<%= product.name %>">
            <button type="submit" class="buyBtn" data-price="<%= product.price %>" data-product="<%= product.name %>">Buy</button>
            
          </form>
        </div>
      </div>
    <% }); %>
  <% } else { %>
    <% Object.keys(products).forEach(function(key) { %>
      <% var product = products[key]; %>
      <div class="productContainer">
        <div class="productCard">
          <div class="productImg">
            <img src="<%= product.imgUrl %>" />
          </div>
          <div class="productDetails">
            <div class="productName">
              <h2><%= product.name %></h2>
            </div>
            <div class="productDetailsPS">
              <h3>Price: <%= product.price %></h3>
              <h3>Stock: <%= product.accounts.length %></h3>
            </div>
          </div>
          <form class="buyForm" action="/purchase" method="POST">
  <input type="hidden" name="product" value="<%= product.name %>">
  <button data-price="<%= product.price %>" data-product="<%= product.name %>" class='buyBtn' type="submit">Buy</button>
            
</form>

        </div>
      </div>
    <% }); %>
  <% } %>
</div>


    
</body>

</html>


    <script src="script.js"></script>
   
</body>

</html>
